html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family:  Arial, sans-serif;
    font-weight: 100;
}

.root {
    width: 80%;
    margin: auto;
}

#header {
	width: 80%;
margin: auto;
}

#current-pressed-keys {
    display: flex;
    flex-direction: row;
    height: 8em;
    margin: 3em auto;
    justify-content: left;
}
#current-pressed-keys .key-element {
    display: block;
    margin: 0 1em;
    align-self: center;
    width: 15%;
    border: 3px solid black;
    padding: 0.3em;
    border-radius: 4px;
}

.key-element .key {
    font-size: 2em;
    text-align: center;
}

span.right {
    float: right;
}

#history-header {
    background: #DFDFDF;
    font-weight: 300;
}

#history-header h3 {
    margin-top: 0;
}

.history-item {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    white-space: nowrap;
}

.history-item h3:last-child {
    display: none;
}

.history-item:nth-child(even) {
    background: #F1F1F1;
}

 .history-item:nth-child(odd) {
    background: #FEFEFE;
} 

.history-item div {
    display: inline-block;
    width: 33%;
    height: 25px;
    -webkit-transition: height 1s;
}
/*
.history-item div:nth-child(1) {
    text-align: left;
}

 .history-item div:nth-child(3) {
    text-align: right;
}
  */
.identifier {
    float: left;
    font-weight: bold;
}
